
.mainHeader {
    background: url("assets/image-1.jpeg");
    height: 97vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.mainHeaderNav{
    margin: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navigation {
    &__label {display: none;}
    &__toggle {display: none;}
    &__menu {display: flex;}
    &__item {padding-left: 40px;}
}

.fa-bars {font-size: 1.5rem;}

.mainWelcome {
    display: flex;
    justify-content: flex-end;
    margin-top: 28vh;

    &__header {margin-bottom: -22px;}

    &__button__text {
        @include button;
        margin-top: 8px;
        width: 170px;
        &:hover {background-color: rgba(0, 0, 0, 0.1)}
    }
}

.headerNavigation__item {height: 36px;}

.headernavigation__menu {
    width: 20%;
    position: fixed;
    right: -20%;
    z-index: 10;
}

.headerNavigation__links {border-bottom: 3px solid transparent;}
.headerNavigation__links:hover {border-bottom: 3px solid $primaryColor;}

input:checked + .headerNavigation__menu {right: 0;}