body {
    font-family: 'Catamaran', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

p:first-letter {
    text-transform: capitalize;
}


header, h3, h5, h6, .navigation__links {
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    color: #2a2a2a;
}

ul {
  list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.875rem;
}

h3 {
    font-size: 2rem;
}

h5, .navigation__links,  {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;;
}








.section {

    &__text {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.583;
    }

    &__text--italic {
        font-style: italic;
        font-size: 1.5rem;
        text-align: center;
        text-transform: capitalize;
    }

    &__button {
        text-align: center;
    }
}

.sectionHeader__text {
    text-align: center;

    &--darkBlue {
        color: #285d64;
    }
}


.services__icon {
    font-size: 3.75rem;
}




// width: calc((100% / 3) - 20px);


.testimonials__text {
    font-size: 1.5rem;
}

.latestNews {
    &__readMore {color:  #285d64;}
        
    &__arrow {
    color:  #285d64;
    font-size: 1.25rem;
    }
}