@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

.wrapper {
    max-width: 1141px;
    margin: 0 auto;
    position: relative;
}

.sectionBody {
    display: flex;
    justify-content: center;

    &__image {width: 100%;}
    &__picture {display: block;}
}

img {display: block;}


// main welcome page//

.mainHeader {
    background-image: url("assets/image-1.jpeg");
    // padding: 17vw 0;
    height: 97vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.mainHeaderNav{
    margin: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    &__menu {display: flex;}
    &__item {padding-left: 20px;}
}

.mainWelcome {
    display: flex;
    justify-content: flex-end;
    margin-top: 28vh;

    &__button__text {
        border: 1px solid #2a2a2a;
    }
}




/* --------- SECTION: WELCOME -----------*/

.welcome {
    padding: 123px 0 128px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__header { margin-bottom: 50px}
    &__text {padding: 0 113px}
    &__buttonText {
        text-decoration: none;
        margin-top: 50px;
        border: 1px solid #2a2a2a;
        padding: 20px 50px;
    }
}

/* --------- SECTION: SERVICES -----------*/

.services {
    padding: 115px 0 122px 0;
    background-color:  #bec884;

    &__sectionBody {justify-content: space-around}
    &__content {
        flex-basis: 30%;
        // padding: 0 60px;
        text-align: center;   
    }
    &__header {margin-bottom: 60px;}
    &__icon {margin-bottom: 12px;}
    &__text {
        line-height: 1.625;
        padding: 0px 12%;
    }
}


/* --------- SECTION: happy clients -----------*/

.happyClientsSection { background-color:  #efefef;}

.happyClients {
    padding: 100px 0 130px 0;

    &__header {margin-bottom: 55px;}

    &__sectionBody {
    display: flex;
    flex-direction: column;
    }
    &__photo {
        margin-left: auto;
        margin-right: auto;
    }
    &__text { 
        padding: 0 12%;
        margin: 78px 0 75px 0;
     }
}



/* --------- SECTION: testimonials content -----------*/


.testimonials {
    padding: 120px 0;
    &__header {margin-bottom: 50px;}

    &__figure {flex: 1 0 6%;}

    &__content {
        flex: 1 0 15%;
        display: flex;
        flex-direction: column;
    }

    &__subHeader {
        margin-top: 14vh;
        margin-bottom: 34px;
    }

    &__text {line-height: 1.583}

}


/* --------- SECTION: sample shoot -----------*/

.sampleShoot {
    display: flex;

//     &__figure {flex: 1;}
    &__picture {
        width: 100%;
        display: block;
    }
}

.latestNews {
    background-color:  #f5f3f3;
    &__sectionBody {justify-content: space-between}
    &__content {
        flex-basis: 30%;
    }
}


/* --------- SECTION: latest news -----------*/



//     &__sectionBody {justify-content: space-around}
//     &__content {
//         flex-basis: 30%;
//         padding: 0 60px;
//         text-align: center;
//     }
// }


/* --------- SECTION: latest shoots -----------*/

.latestShootsSection {background-color: #efefef;}

.latestShoots {
    display: flex;

    &__nav {
        background-color:  #606060;
        flex: 1 0 25%;
        margin-right: 2.5%;
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        flex: 2 0 52%;
        justify-content: space-between;
    }
}


.latestShoots__photoContainer {
    position: relative;
}

.latestShoots__pictureText {
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(31%, -50%);
    visibility: hidden;
}

.latestShoots__photoContainer:hover {
    // position: relative;

    opacity: 0.3;
    // background: rgba(42, 42, 42, 0.7);
    // visibility: visible;

}

.latestShoots__pictureText {
    color: #fff;
}