@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

.wrapper {
    max-width: 1141px;
    margin: 0 auto;
    position: relative;
}

.sectionBody {
    display: flex;
    justify-content: center;

    &__image {width: 100%;}
    &__picture {display: block;}
}

img {
    display: block;
    max-width: 100%;
}


// main welcome page//

.mainHeader {
    background-image: url("assets/image-1.jpeg");
    // padding: 17vw 0;
    height: 97vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.mainHeaderNav{
    margin: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    &__menu {display: flex;}
    &__item {padding-left: 40px;}
}

.mainWelcome {
    display: flex;
    justify-content: flex-end;
    margin-top: 28vh;

    &__header {margin-bottom: -22px;}

    &__button__text {
        border: 1px solid $primaryColor;
        padding: 10px 53px;
        display: inline-block;
        border-radius: 30px;
        margin-top: 8px;
    }
}



/* --------- SECTION: WELCOME -----------*/

.welcome {
    padding: 123px 0 128px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__header { margin-bottom: 50px}
    &__text {padding: 0 113px}
    &__buttonText {
        text-decoration: none;
        margin-top: 50px;
        border: 1px solid $primaryColor;
        padding: 10px 50px;
        border-radius: 34px;
    }
}

/* --------- SECTION: SERVICES -----------*/

.services {
    padding: 115px 0 122px 0;
    background-color:  #bec884;

    &__sectionBody {justify-content: space-around}
    &__content {
        flex-basis: 30%;
        // padding: 0 60px;
        text-align: center;   
    }
    &__header {margin-bottom: 60px;}
    &__icon {margin-bottom: 12px;}
    &__text {
        line-height: 1.625;
        padding: 0px 12%;
    }
}


/* --------- SECTION: happy clients -----------*/

.happyClientsSection { background-color:  #efefef;}

.happyClients {
    padding: 100px 0 130px 0;

    &__header {margin-bottom: 55px;}

    &__photoBlock {
        position: relative;
    }

    &__sectionBody {
    display: flex;
    flex-direction: column;
    }

    // &__figure {}

    &__photo {
        margin-left: auto;
        margin-right: auto;
    }
    &__icons {
        &__left {
            position: absolute;
            top: 50%;
            left: 0;
        }
        &right__{
            position: absolute;
            top: 50%;
            right: 0;
        }
    }
    
    &__icons__{position: absolute}


    &__text { 
        padding: 0 12%;
        margin: 78px 0 75px 0;
     }

    &__clientName {
        margin: 0 auto;
        position: relative;
        width: 150px;
        height: 40px;

        &__sideBar::before{
            content: "~";
            position: absolute;
            font-size: 1.5rem;
            top: -10%;
        }
        &__sideBar::after{
            content: "~";
            position: absolute;
            font-size: 1.5rem;
            top: -10%;
            right: 0;
        }
        


    }
}


// .section__text--italic::before {
//     content: "~";



//     content: '“';
// font-size: 30px;
// position: absolute;
// left: 37px;
// top: 1px;

// }

// .section__text--italic::after {
//     content: "~";
// }

/* --------- SECTION: testimonials content -----------*/


.testimonials {
    padding: 120px 0;
    &__header {margin-bottom: 50px;}

    &__figure {flex: 1 0 6%;}

    &__content {
        flex: 1 0 15%;
        display: flex;
        flex-direction: column;
    }

    &__subHeader {
        margin-top: 145px;
        margin-bottom: 23px;
    }

    &__text {line-height: 1.583}

}


/* --------- SECTION: sample shoot -----------*/

.sampleShoot {
    display: flex;
    justify-content: center;

//     &__figure {flex: 1;}
    &__picture {
        max-width: 100%;
        flex: 1 1 auto;
        margin-bottom: -10px;
    }
}

.latestNews {
    background-color:  #f5f3f3;
    padding: 100px 0;

    &__sectionBody {justify-content: space-between}
    // &__content {
    //     // flex-basis: 30%;
    // }
    &__header {margin-bottom: 60px}

    &__subHeader {margin: 20px 0 5px 0;}
    &__link {
        display: flex;
        align-items: center;
        width: 138px;
        // flex-wrap: wrap;
    }
    &__readMore {margin-right: 10px}

}


/* --------- SECTION: latest news -----------*/



//     &__sectionBody {justify-content: space-around}
//     &__content {
//         flex-basis: 30%;
//         padding: 0 60px;
//         text-align: center;
//     }
// }

/* --------- SECTION: ask a question -----------*/

.askAQuestionSection {
    background-color:  #f2b094;
}

.askAQuestion {
    &__sectionBody {flex-direction: column;}
    &__questionBox {background-color:  #f2b094;}
    &__button {background-color:  #f2b094;}
}



/* --------- SECTION: latest shoots -----------*/

.latestShootsSection {
    background-color: #efefef;
    padding: 122px 0;
}

.latestShoots {
    display: flex;

    &__nav {
        background-color:  #606060;
        flex: 1 0 25%;
        margin-right: 2.5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__text {color: #fff;}

    &__menu {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__textContainer:hover {
        background-color: $primaryColor;
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        flex: 2 0 52%;
        justify-content: space-between;
    }
}


.latestShoots__photoContainer {
    position: relative;
}

.latestShoots__pictureText {
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(31%, -50%);
    visibility: hidden;
}

.latestShoots__photoContainer:hover {
    // position: relative;

    opacity: 0.3;
    // background: rgba(42, 42, 42, 0.7);
    // visibility: visible;

}

.latestShoots__pictureText {
    color: #fff;
}




/* --------- SECTION: footer -----------*/

footer {
    position: relative;
}

.footerWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.footerInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;

    &__contact {
        flex-basis: 25%;
        &__content {
            line-height: 1.922;
        }
    }
    &__icons {margin-right: 5px;}
    &__form {width: 92%;}

    &__aboutUs {
        flex-basis: 34%;
        &__content {line-height: 1.625;}
    }
    &__instagram {
        flex-basis: 29%;
        &__content {
            display: flex;
            flex-flow: wrap;
            align-content: stretch
            // justify-content: space-between;
            // flex: 1 1 auto;
        }
        &__pic {
            // flex: 1 1 auto;
            margin: 4px;
        }
    }
}

        
.email {
        width: 100%;
        height: 2rem;
        background-image: url("assets/paper-plane-solid.svg");
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 0.625rem;
        border: 1px solid $primaryColor;
        margin-top: 15px;
    }



.socialMediaButtons {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translate(-50%,-50%);
    
    &__container {
        padding: 20px 0;
    }

    &__facebook {}
    &__instagram {}
    &__pinterest {}
}




.copyright {
    background-color:  $primaryColor;
    text-align: center;

    &__description {color:  #eeeded;}
}
