article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Catamaran", sans-serif; }

p {
  font-family: 'Lato', sans-serif; }

p:first-letter {
  text-transform: capitalize; }

header, h3, h5, h6, .navigation__links {
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  color: #2a2a2a; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 2.875rem; }

h3 {
  font-size: 2rem; }

h5, .navigation__links {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

.section__text {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.583; }

.section__text--italic {
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize; }

.section__button {
  text-align: center; }

.sectionHeader__text {
  text-align: center; }
  .sectionHeader__text--darkBlue {
    color: #285d64; }

.services__icon {
  font-size: 3.75rem; }

.testimonials__text {
  font-size: 1.5rem; }

.latestNews__readMore {
  color: #285d64; }

.latestNews__arrow {
  color: #285d64;
  font-size: 1.25rem; }

.socialMediaButtons__icon {
  color: #848484;
  font-size: 1.563rem; }

.socialMediaButtons__facebook:hover {
  color: #3b5998; }

.socialMediaButtons__instagram:hover {
  color: #c32aa3; }

.socialMediaButtons__pinterest:hover {
  color: #bd081c; }

.askAQuestion__questionBox, .askAQuestion__submit {
  font-size: 1.25rem;
  text-transform: uppercase; }

.happyClients__icons__left {
  font-size: 2.563rem; }

.happyClients__icons__right {
  font-size: 2.563rem; }

.mainHeader {
  background-image: url("assets/image-1.jpeg");
  height: 97vh;
  background-size: cover;
  background-position: center;
  position: relative; }

.mainHeaderNav {
  margin: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__item {
  padding-left: 40px; }

.mainWelcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 28vh; }
  .mainWelcome__header {
    margin-bottom: -22px; }
  .mainWelcome__button__text {
    border: 1px solid #2a2a2a;
    padding: 10px 50px;
    border-radius: 34px;
    display: inline-block;
    width: 160px;
    margin-top: 8px;
    width: 170px; }

footer {
  position: relative; }

.footerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 120px; }

.footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 107px; }
  .footerInfo__contact {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
    .footerInfo__contact__content {
      line-height: 1.922; }
  .footerInfo__icons {
    margin-right: 5px; }
  .footerInfo__form {
    width: 92%; }
  .footerInfo__aboutUs {
    -ms-flex-preferred-size: 34%;
    flex-basis: 34%; }
    .footerInfo__aboutUs__content {
      line-height: 1.625; }
  .footerInfo__instagram {
    -ms-flex-preferred-size: 29%;
    flex-basis: 29%; }
    .footerInfo__instagram__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      min-width: 330px; }
    .footerInfo__instagram__pic {
      margin: 4px; }

.footer__header {
  margin-bottom: 20px; }

.footer__navigation__header {
  text-align: center; }

.footer__navigation__menu {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0 40px 0; }

.footer__navigation__item {
  padding: 0 25px; }

.email {
  width: 100%;
  height: 2rem;
  background-image: url("assets/paper-plane-solid.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 0.625rem;
  margin-top: 15px; }

.socialMediaButtons {
  position: absolute;
  right: 0;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .socialMediaButtons__container {
    padding: 20px 0; }

.copyright {
  background-color: #2a2a2a;
  text-align: center; }
  .copyright__description {
    color: #eeeded;
    padding: 5px 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto; }

.wrapper {
  max-width: 1141px;
  margin: 0 auto;
  position: relative; }

.sectionBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .sectionBody__image {
    width: 100%; }
  .sectionBody__picture {
    display: block; }

img {
  display: block;
  max-width: 100%; }

/* --------- SECTION: WELCOME -----------*/
.welcome {
  padding: 123px 0 128px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .welcome__header {
    margin-bottom: 50px; }
  .welcome__text {
    padding: 0 113px; }
  .welcome__buttonText {
    border: 1px solid #2a2a2a;
    padding: 10px 50px;
    border-radius: 34px;
    display: inline-block;
    width: 160px;
    margin-top: 50px; }

/* --------- SECTION: SERVICES -----------*/
.services {
  padding: 115px 0 122px 0;
  background-color: #bec884; }
  .services__sectionBody {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .services__content {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    text-align: center; }
  .services__header {
    margin-bottom: 60px; }
  .services__icon {
    margin-bottom: 12px; }
  .services__text {
    line-height: 1.625;
    padding: 0px 12%; }

/* --------- SECTION: happy clients -----------*/
.happyClientsSection {
  background-color: #efefef; }

.happyClients {
  padding: 100px 0 130px 0; }
  .happyClients__header {
    margin-bottom: 55px; }
  .happyClients__photoBlock {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .happyClients__sectionBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .happyClients__figure {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    overflow: visible; }
  .happyClients__photo {
    margin-left: auto;
    margin-right: auto; }
  .happyClients__icons__left {
    position: absolute;
    top: 50%;
    left: -15%; }
  .happyClients__icons__right {
    position: absolute;
    top: 50%;
    right: -15%; }
  .happyClients__icons__ {
    position: absolute; }
  .happyClients__text {
    padding: 0 12%;
    margin: 78px 0 75px 0; }
  .happyClients__clientName {
    margin: 0 auto;
    position: relative;
    width: 150px;
    height: 40px; }
    .happyClients__clientName__sideBar::before {
      content: "~";
      position: absolute;
      font-size: 1.5rem;
      top: -10%; }
    .happyClients__clientName__sideBar::after {
      content: "~";
      position: absolute;
      font-size: 1.5rem;
      top: -10%;
      right: 0; }

/* --------- SECTION: testimonials content -----------*/
.testimonials {
  padding: 120px 0; }
  .testimonials__header {
    margin-bottom: 50px; }
  .testimonials__figure {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 6%;
    flex: 1 0 6%; }
  .testimonials__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 15%;
    flex: 1 0 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .testimonials__subHeader {
    margin-top: 145px;
    margin-bottom: 23px; }
  .testimonials__text {
    line-height: 1.583; }

/* --------- SECTION: sample shoot -----------*/
.sampleShoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .sampleShoot__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .sampleShoot__content {
    position: relative; }
  .sampleShoot__captions {
    display: none; }
  .sampleShoot__figure:hover .sampleShoot__captions {
    color: #fff;
    text-align: center;
    padding-top: 20%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.3)));
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); }
  .sampleShoot__header {
    color: #fff; }
  .sampleShoot__text {
    padding: 0 21%;
    margin-top: 3%; }

/* --------- SECTION: latest news -----------*/
.latestNews {
  background-color: #f5f3f3;
  padding: 100px 0; }
  .latestNews__sectionBody {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .latestNews__header {
    margin-bottom: 60px; }
  .latestNews__subHeader {
    margin: 20px 0 5px 0; }
  .latestNews__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 138px; }
  .latestNews__readMore {
    margin-right: 10px; }

/* --------- SECTION: ask a question -----------*/
.askAQuestionSection {
  background-color: #f2b094;
  padding: 100px 0; }

.askAQuestion__sectionBody {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.askAQuestion__questionBox {
  background-color: #f2b094;
  margin: 38px 50px 50px 50px;
  border: none;
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  padding: 7px 0; }

.askAQuestion__submit {
  border: 1px solid #2a2a2a;
  padding: 10px 50px;
  border-radius: 34px;
  display: inline-block;
  width: 160px;
  background-color: #f2b094;
  margin: 0 auto; }

textarea:focus {
  outline-width: 0; }

::-webkit-input-placeholder {
  text-align: center;
  color: #2a2a2a; }

:-ms-input-placeholder {
  text-align: center;
  color: #2a2a2a; }

::-ms-input-placeholder {
  text-align: center;
  color: #2a2a2a; }

::placeholder {
  text-align: center;
  color: #2a2a2a; }

/* --------- SECTION: latest shoots -----------*/
.latestShootsSection {
  background-color: #efefef;
  padding: 122px 0; }

.latestShoots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .latestShoots__nav {
    background-color: #606060;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 24%;
    flex: 1 0 24%;
    margin-right: 2.5%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .latestShoots__text {
    color: #fff; }
  .latestShoots__menu {
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .latestShoots__textContainer:hover {
    background-color: #2a2a2a;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .latestShoots__galleryContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 58%;
    flex: 1 0 58%; }
  .latestShoots__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .latestShoots__gallery li:nth-child(-n+2) {
    margin-bottom: 20px; }
  .latestShoots__content {
    position: relative; }
  .latestShoots__caption {
    display: none; }
  .latestShoots__latestShoots__content:hover .latstShoots__photoContainer .latestShoots__caption {
    color: #fff;
    text-align: center;
    padding-top: 20%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.3)));
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); }

/* --------- SECTION: footer -----------*/
@media only screen and (max-width: 1200px) {
  .mainTitle {
    margin-left: 3%; }
  .navigation {
    margin-right: 3%; }
  .testimonials__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .testimonials__figure {
    margin: 0 auto; }
  .testimonials__content {
    padding: 0px 5%; }
  .testimonials__subHeader {
    margin-top: 10%; }
  .sampleShoot__gallery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .sampleShoot__content {
    padding: 20px; } }

@media only screen and (max-width: 1140px) {
  .latestNews__sectionBody {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .latestNews__content {
    margin: 0 auto;
    margin-bottom: 30px; } }

@media only screen and (max-width: 1096px) {
  .latestShoots {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .latestShoots__content {
      padding: 3%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .latestShoots__nav {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    .latestShoots__menu {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }

@media only screen and (max-width: 1050px) {
  .mainHeader {
    height: 70vh; }
  .mainWelcome {
    margin-top: 0; }
  .services__sectionBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .services__content {
    margin-bottom: 40px;
    padding: 0 20%; } }

@media only screen and (max-width: 818px) {
  .latestShoots___content {
    margin: 0 auto; }
  .latestShoots__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .latestShoots__latestshoots__textContainer {
    padding: 20px 0; } }
